.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  background-color: var(--background);
  color: var(--text-color1);
  padding-right: 3rem;
  border-bottom: 1px solid var(--line);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divider {
  width: 1px;
  height: 100%;
  background-color: var(--line);
}

.mainHeader {
  padding-left: 3rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  background: none;
  color: var(--text-color1);
  border: none;
  font-family: inherit;
  font-weight: inherit;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.heading h1 {
  font-size: 2.4rem;
  flex-shrink: 0;
}

.chevronIcon {
  transition: var(--transition);
}

.open {
  transform: rotate(180deg);
}

.btnGroup {
  display: flex;
  align-items: center;
}

.plusBtn {
  color: var(--white);
  background-color: var(--main-purple);
  border: none;
  width: 4.8rem;
  height: 3.2rem;
  margin-right: 0.8rem;
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.plusBtn:disabled {
  background-color: var(--main-purple-25);
}

.plusIcon {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
}

@media only screen and (max-width: 64em) {
  .heading h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 46.25em) {
  .divider {
    display: none;
  }

  .heading h1 {
    font-size: 1.8rem;
    margin-left: 1.2rem;
  }
}
