.logo {
  width: 29.9rem;
  padding-left: 3rem;
}

.logo img {
  display: block;
}

@media only screen and (max-width: 64em) {
  .logo {
    width: 26rem;
  }
}

@media only screen and (max-width: 46.25em) {
  .logo {
    width: 2.5rem;
  }
}
