.boardNameLabel {
  font-size: 1.3rem;
  font-weight: 500;
}

.inputWrapper {
  position: relative;
  flex: 1;
  width: 100%;
}

.inputWrapper input {
  width: 100%;
}

.errorText {
  position: absolute;
  right: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  color: var(--color-red);
  pointer-events: none;
}

.inputError {
  border-color: var(--color-red) !important;
}

.btnError {
  color: var(--color-red) !important;
}

.columnsWrapper {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.columnRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: stretch;
  gap: 1.6rem;
}

.columnRow input {
  flex: 1;
  /* font-weight: ; */
}

.columnRow .closeBtn {
  flex-shrink: 0;
  background-color: transparent;
  border: none;
  color: var(--medium-grey);
  cursor: pointer;
}
