.navbar {
  height: 100%;
  background-color: var(--background);
  color: var(--text-color2);
  padding: 1.5rem 2.5rem 5rem 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navTitle {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  margin-bottom: 2rem;
  padding-left: 3rem;
}

.list {
  list-style: none;
}

.list .iconHide {
}

.listItem {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.5rem;
  padding-left: 3rem;
  cursor: pointer;
  transition: var(--transition);

  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.listItem:hover {
  background-color: var(--bg-sidebar-hover);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color: var(--main-purple);
}

.listItem.active {
  background-color: var(--btn-bg-primary);
  color: var(--btn-text-primary);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.createBtn {
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--main-purple);
  margin-top: 1.5rem;
  padding-left: 3rem;
  cursor: pointer;
  transition: var(--transition);

  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.createBtn:hover {
  color: var(--purple-hover);
}

.hideSidebarBtn {
  background: transparent;
  border: none;
  width: 100%;
  color: var(--text-color2);
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.8rem;
  padding: 1.5rem;
  padding-left: 2rem;
  cursor: pointer;
  transition: var(--transition);

  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.hideSidebarBtn:hover {
  color: var(--main-purple);
  background-color: var(--bg-sidebar-hover);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
