.navbar {
  height: 100%;
  background-color: var(--background);
  color: var(--text-color2);
  padding: 2rem 0 3rem 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.listWrapper {
  padding-right: 2.5rem;
  flex: 1;
}

.navTitle {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  margin-bottom: 2rem;
  padding-left: 3rem;
}

.list {
  list-style: none;
}

.boardBtn {
  width: 100%;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  color: inherit;
  padding: 1.5rem;
  padding-left: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;

  transition: var(--transition);

  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.boardBtn:hover {
  background-color: var(--bg-sidebar-hover);
  color: var(--main-purple);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.boardBtn.active {
  background-color: var(--main-purple);
  color: var(--white);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.iconBoard {
  flex-shrink: 0;
}

.boardText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.createBtn {
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--main-purple);
  margin-top: 1.5rem;
  padding-left: 3rem;
  cursor: pointer;
  transition: var(--transition);

  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.createBtn:hover {
  color: var(--purple-hover);
}

.controlsSection {
  margin-top: auto;
  padding-top: 2rem;
  flex-shrink: 0;
}

.hideSidebarBtn {
  background: transparent;
  border: none;
  width: calc(100% - 2.5rem);
  color: var(--text-color2);
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.8rem;
  padding: 1.5rem;
  padding-left: 2.5rem;
  cursor: pointer;
  transition: var(--transition);

  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.hideSidebarBtn:hover {
  color: var(--main-purple);
  background-color: var(--bg-sidebar-hover);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.logoutBtn {
  border: none;
  background: transparent;
  padding-left: 2.5rem;
  color: var(--main-purple);
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1rem;
  transition: var(--transition);

  display: flex;
  align-items: center;
  gap: 1rem;
}

.logoutBtn:hover {
  color: var(--purple-hover);
}

.logoutIcon {
  width: 1.8rem;
  height: 1.8rem;
}

/* 1024px */
@media only screen and (max-width: 64em) {
  .hideSidebarBtn {
    padding-left: 1.5rem;
    width: calc(100% - 1.5rem);
  }
}

/* 740px */
@media only screen and (max-width: 46.25em) {
  .navbar {
    padding-bottom: 1.5rem;
  }

  .createBtn {
    margin-bottom: 3.2rem;
  }
}
