.columnList {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  padding-right: 2.5rem;
  height: max-content;
  min-height: 100%;
  width: max-content;
  min-width: 100%;
}

.columnListItem,
.newColumn {
  height: 100%;
  width: 28rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}

.columnHeader {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 2.5rem;
  flex-shrink: 0;
}

.dot {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.columnTitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color2);
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.columnBody {
  min-height: 80vh;
  height: 100%;
}

.newColumn {
  background-image: var(--background-tertiary);
  height: 80vh;

  margin-top: 4rem;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addColumnBtn {
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--text-color2);
  cursor: pointer;
  transition: var(--transition);
}

.addColumnBtn:hover {
  color: var(--main-purple);
}

/* 740px */
@media only screen and (max-width: 46.25em) {
  .columnList {
    padding-right: 1.5rem;
    gap: 1.8rem;
  }

  .columnHeader {
    margin-bottom: 1.5rem;
  }

  .columnListItem,
  .newColumn {
    width: 24rem;
  }

  .newColumn {
    margin-top: 3rem;
  }
}
