.empty-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.empty-content p {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-color2);
}
