.taskList {
  flex: 1;
  min-height: 80vh;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.emptyList {
  border: 2px dashed var(--line);
}

.taskListItem {
  background-color: var(--background);
  list-style: none;
  border-radius: 0.8rem;
  box-shadow: var(--card-shadow);
}

.taskBtn {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 2.3rem 1.8rem;
  color: inherit;
  font-family: inherit;
  text-align: start;
  cursor: pointer;
}

.taskTitle {
  color: var(--text-color1);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  transition: var(--transition);
}

.taskListItem:hover .taskTitle {
  color: var(--main-purple);
}

.subtaskTitle {
  color: var(--text-color2);
  font-size: 1.2rem;
  font-weight: bold;
}

/* 740px */
@media only screen and (max-width: 46.25em) {
  .taskList {
    gap: 1.5rem;
  }
}
