.taskList {
  min-height: 80vh;
  border-radius: 0.8rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.emptyList {
  border: 2px dashed var(--line);
}

.dropPlaceholder {
  /* margin: 6px 0;
  border-radius: 8px;

  background: rgba(99, 102, 241, 0.15);
  border: 2px dashed rgba(99, 102, 241, 0.6);

  transition: all 0.15s ease; */
}

.taskListItem {
  background-color: var(--background);
  padding: 2.3rem 1.8rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.5rem 0.8rem rgba(107, 118, 134, 0.2);
  cursor: pointer;
  transition: var(--transition);
}

.taskListItem:hover,
.taskListItem:focus-visible {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(151, 151, 151, 0.15);
}

.taskTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  transition: var(--transition);
}

.taskListItem:hover .taskTitle {
  color: var(--main-purple);
}

.subtasks {
  color: var(--text-color2);
  font-size: 1.2rem;
  font-weight: bold;
}
