.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  margin-bottom: 2.6rem;
}

.heading {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-color1);
  word-break: break-word;
}

.kebabBtn {
  border: none;
  background: transparent;
  padding: 1rem 0.8rem;
  border-radius: 10px;
  cursor: pointer;
}

.description {
  font-size: 1.3rem;
  line-height: 1.6;
  color: var(--text-color2);
  margin-bottom: 2.6rem;
  padding-right: 1rem;

  max-height: 10.6rem;
  overflow-y: scroll;
  word-break: break-word;
}

.description::-webkit-scrollbar {
  width: 4px;
}

.description::-webkit-scrollbar-thumb {
  background: var(--medium-grey);
  border-radius: 10px;
}

.subtasks {
  border: none;
}

.subtaskTitle {
  color: var(--label-color);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.subtaskList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 2.6rem;
}

.subtaskItem {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-color1);
  background-color: var(--background-secondary);
  padding: 1.5rem 1.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: var(--transition);

  display: grid;
  grid-template-columns: 1em auto;
  align-items: center;
  gap: 2rem;
}

.subtaskItem:hover {
  background-color: var(--main-purple-25);
}

.checkbox {
  -webkit-appearance: none;
  appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--background);
  border: 1px solid var(--medium-grey-25);
  border-radius: 0.2rem;
  transition: var(--transition);

  display: grid;
  place-content: center;
}

.checkbox:checked {
  background-color: var(--main-purple);
}

.checkbox::before {
  content: "";
  width: 1rem;
  height: 1rem;
  transform: scale(0);

  transform-origin: center;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  background-color: var(--white);
}

.checkbox:checked::before {
  transform: scale(1);
}

.checkbox:checked + .subtaskLabel {
  opacity: 0.5;
  text-decoration: line-through;
}

.subtaskLabel {
  word-break: break-word;
}

.status {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.statusLabel {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--label-color);
}

.closeModalBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media only screen and (max-width: 46.25em) {
  .modalHeader {
    gap: 1rem;
    margin-top: 2rem;
  }

  .closeModalBtn {
    background: none;
    border: none;
    color: var(--text-color1);
    background-color: var(--medium-grey-25);
    padding: 0.5rem;
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
